.flex-container {
  display: flex !important;
}

h1 {
  font-size: 20px !important;
}

.btn {
  background-color: red !important;
  color: white !important;
  width: 100%;
}

select {
  box-shadow: none !important;
  border-color: black !important;
}
